<section>
<h3>Deprecated properties and classes</h3>
<p>
De volgende URIs werden door DCAT 3  gedeprecated en vervangen door URIs binnen de DCAT namespace.
<ul>
<li>dct:hasVersion is vervangen door dcat:hasVersion.</li>
<li>dct:isVersionOf is vervangen door dcat:isVersionOf. </li>
<li>owl:versionInfo is vervangen door dcat:version. </li>
</ul>
</p>
</section>
