{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium metadata DCAT is een vocabularium gebaseerd op <a href="https://www.w3.org/TR/vocab-dcat-2/">DCAT</a>.
Naast een Nederlandstalige vertaling van de bestaande DCAT terminologie, voorziet dit vocabularium ook bijkomende termen die specifiek zijn voor de noden i.v.m. metadatabeschrijvingen van datasets en dataservices in Vlaanderen.  
</p>
{% endblock %}

