{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel metadata voor services is een applicatieprofiel gebaseerd op <a href="https://www.w3.org/TR/vocab-dcat-2/">DCAT</a>.
Dit applicatieprofiel richt zich op het verzamelen van informatie over de services die door een overheid beschikbaar gesteld worden. Deze services omvatten publiek toegankelijke als afgeschermd diensten, ontwikkeld in en voor eender technisch perspectief.
Het samenbrengen van al deze informatie in een catalogus laat toe om de vindbaarheid van deze services te verhogen. 
</p>
<p>Dit applicatieprofiel is nog in ontwikkeling. Het onderstaande datamodel is een weerslag van de feedback van de deelnemers aan de werkgroepsessies. 
M.a.w. dit model en dus de lijst van eigenschappen is noch volledig, noch definitief. Het is een ontwerpdocument waarmee we met elkaar interactie kunnen gaan.
Het moet als volgt gelezen worden:
<ul>
<li>
De klassen zijn deze zoals gedefinieerd in DCAT.
</li>
<li>
De eigenschappen zijn de vermelde eigenschappen door de werkgroep. Deze zijn geannoteerd met beschikbaar in DCAT, DCAT-AP of eigenschappen buiten deze afspraken.
</li>
<li>
De gemeenschappelijke eigenschappen zijn niet zoals in DCAT gegroepeerd in CatalogusResource. Dit om de discussie over deze eigenschappen in de context eerst te voeren in de context van een klasse.  
</li>
</ul>
</p>

{% endblock %}

