<section>
<h2>Open Data</h2>
Open Data is een specieke subset van alle informatie is beschikbaar is in Vlaanderen. 
Het is informatie is met geen tot minimale beperkingen voor hergebruik ontsloten wordt.
Europese wetgeving zoals the PSI en HVD streven ernaar om informatie die met overheidsmiddelen wordt verzameld en beheert zo maximaal mogelijk ter beschikking te stellen van eender wie.
Dat verhoogd niet alleen de transparantie over de werking van de overheid, maar is tevens ook het bouwen aan een data gedreven maatschappij die rust op betrouwbare en kwaliteitsvolle informatie.  

In het verleden was er een specifiek subprofiel van Metadata DCAT Vlaanderen, namelijk DCAT-AP Vlaanderen, dat bijkomende of specifieke keuzes voor Open Data toelichtte. 
Omdat deze afspraken grotendeels samenvallen met het Metadata DCAT Vlaanderen profiel werd er besloten om deze specificatie te vervangen door een Annex.
In deze Annex beschrijven we de specifieke vereisten van enkele elementen voor Open Data.  

Dit past ook in de evolutie naar een meer data gedreven maatschappij, waar de grenzen tussen Open Data, Gesloten Data en commercieel beheerde data vervagen. 
Om vandaag een goede dienstverlening op te zetten is informatie van alle soort en vorm noodzakelijk. Europa is deze (artificiele) grenzen langzaam aan het slechten.
B.v. de Data Act (de basis voor de Europese Data Spaces) zet de wettelijke basis voor informatiedeling in een thematische context. Ook hier wordt DCAT(-AP) ingezet. 

<ul>
<li> 1. Licenties: 
   Een van de Vlaamse hergebruik licenties
</li>
<li> 2. toegankelijkheid: de toegankelijkheid tot de dataset moet de waarde <a href=" http://publications.europa.eu/resource/authority/access-right/PUBLIC">PUBLIC</a> hebben
</li>
<li>
3. statuut
   Minstens de waarde De waarde moet minstens https://metadata.vlaanderen.be/id/GDI-Vlaanderen-Trefwoorden/VLOPENDATASERVICE bevatten.
</li>
</ul>

De afspraken hiervan voldoen aan de 



</section>
