<div class="vl-region vl-region--no-space-top vl-typography">
<h2 class="vl-title--h2">Open Data</h2>
Open Data is een specieke subset van alle informatie die beschikbaar is in Vlaanderen. 
Het is informatie dat met geen tot minimale beperkingen voor hergebruik ontsloten wordt.
Europese wetgeving zoals PSI en HVD streven ernaar om informatie die met overheidsmiddelen wordt verzameld en beheert maximaal ter beschikking gesteld wordt voor iedereen.
Dat verhoogt niet alleen de transparantie over de werking van de overheid, maar bouwt tevens ook aan een data gedreven maatschappij die rust op betrouwbare en kwaliteitsvolle informatie.  
<br/>
In het verleden was er een specifiek subprofiel van Metadata DCAT Vlaanderen, namelijk DCAT-AP Vlaanderen, dat bijkomende of specifieke keuzes voor Open Data toelichtte. 
Omdat deze afspraken grotendeels samenvallen met het Metadata DCAT Vlaanderen profiel werd er besloten om deze specificatie te vervangen door een Annex.
In deze Annex beschrijven we de specifieke vereisten van enkele elementen voor Open Data.  

<br/>
Dit past ook in de evolutie naar een meer data gedreven maatschappij, waar de grenzen tussen Open Data, Gesloten Data en commercieel beheerde data vervagen. 
Om vandaag een goede dienstverlening op te zetten is informatie van alle soorten en vormen noodzakelijk. Europa is deze (artificiële) grenzen langzaam aan het slechten.
Zo zet de Data Act (de basis voor de Europese Data Spaces) bijvoorbeeld de wettelijke basis voor informatiedeling in een thematische context. Ook hier wordt DCAT(-AP) ingezet. 

<br/>
<p>
<dl>
<dt>Licenties</dt>
<dd>Voor Vlaamse Open Data wordt voor een licentie een PURI verwacht. 
Het Decreet Hergebruik definieert een aantal licenties. 
PURIs voor de verschillende mogelijkheden zijn te vinden hier: https://data.vlaanderen.be/doc/licentie/.

Deze richtlijnen voldoen ook aan de <a href="https://semiceu.github.io/DCAT-AP/releases/3.0.1/#legal-information">generieke Europese richtlijnen</a>. De keuze voor een machineleesbare versie (d.m.v. een URI) maakt deze afspraak ook HVD conform.</dd>

<dt>Toegankelijkheid</dt>
<dd>De toegankelijkheid van de dataset moet de waarde <a href=" http://publications.europa.eu/resource/authority/access-right/PUBLIC">PUBLIC</a> hebben. 
Wanneer dataservices die een Open Data dataset ontsluiten worden beschreven dan zal de toegankelijkheid bij minstens één, zoniet allemaal, ook PUBLIC zijn. 
Het kan zijn dat een Open Data dataset op een gesloten dataplatform ook wordt aangeboden en dat de beheerder van de dataset dit ook zichtbaar wil maken. 
Als het gesloten systeem de enige mogelijkheid is om de dataset te bekomen, dan zijn de voorwaarden voor Open Data niet behaald en is de uitgever verplicht om een publieke toegang te voorzien.
</dd>
<dt>Statuut</dt>
<dd>Omdat Open Data soms ook in een beleidscontext gebruikt wordt en men iets wil labelen als Open Data maar waarvoor de voorwaarden nog niet voldaan zijn, is het zinvol om dit beleid/intentie expliciet te capteren en niet af te leiden uit de gegeven metadata. Voor Datasets moet de eigenschap statuut X minstens als waarde hebben, terwijl services het statuut Y minstens als waarde moeten hebben.
 
   De waarde moet minstens https://metadata.vlaanderen.be/id/GDI-Vlaanderen-Trefwoorden/VLOPENDATASERVICE bevatten.
   De waarde moet minstens https://metadata.vlaanderen.be/id/GDI-Vlaanderen-Trefwoorden/VLOPENDATA bevatten.
</dd>
</dl>
</p> 


</div>
